<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록 페이지</title>
</head>

<style>

    .layout {
       width : 500px;
       margin : 0 auto;
       margin-top : 40px;
   }

</style>

<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/content(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page -1}, searchKey = ${param.searchKey})}" th:text="${page}"></a> <!-- param값 중 searchKey를 포함하여 같이 넘겨줌 -->
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKey">
            <button type="submit">검색</button>
        </form>
    </div>
</body>
</html>