<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/my<batis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.MessageDAO">
	<insert id="insertMessage" parameterType="com.smhrd.domain.Message">
		insert into web_message values (num_message.nextval, #{sendEmail}, #{receiveEmail}, #{message}, sysdate)
	</insert>
	
	<select id="selectMessage" parameterType="String" resultType="com.smhrd.domain.Message">
		select * from web_message where receiveEmail = #{receiveEmail}
	</select>
	<delete id="deleteAllMessage" parameterType="String">
      delete from web_message where receiveEmail=#{email}
   </delete>
   <delete id="deleteMessage" parameterType="int">
      delete from web_message where num = #{msgNum}
   </delete>
</mapper>