<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMessageCon</servlet-name>
  	<display-name>SendMessageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SendMessageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMessageCon</servlet-name>
  	<display-name>DeleteMessageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteMessageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAllMessageCon</servlet-name>
  	<display-name>DeleteAllMessageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteAllMessageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<display-name>EmailCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheckCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMessageCon</servlet-name>
  	<url-pattern>/SendMessageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMessageCon</servlet-name>
  	<url-pattern>/DeleteMessageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAllMessageCon</servlet-name>
  	<url-pattern>/DeleteAllMessageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<url-pattern>/EmailCheckCon</url-pattern>
  </servlet-mapping>
</web-app>
