<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
     <servlet-name>JoinCon</servlet-name>
     <display-name>JoinCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>WriteTitleCon2</servlet-name>
     <display-name>WriteTitleCon2</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.WriteTitleCon2</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>SelectCon2</servlet-name>
     <display-name>SelectCon2</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.SelectCon2</servlet-class>
  </servlet>
  
  
  <servlet>
     <servlet-name>ExJoinCon</servlet-name>
     <display-name>ExJoinCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.ExJoinCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>ExLoginCon</servlet-name>
     <display-name>ExLoginCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.ExLoginCon</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>ExFileCon</servlet-name>
     <display-name>ExFileCon</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.ExFileCon</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>WriteTitleCon2</servlet-name>
     <url-pattern>/WriteTitleCon2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>ExJoinCon</servlet-name>
     <url-pattern>/ExJoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>ExLoginCon</servlet-name>
     <url-pattern>/ExLoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>ExFileCon</servlet-name>
     <url-pattern>/ExFileCon</url-pattern>
  </servlet-mapping>
<servlet-mapping>
     <servlet-name>SelectCon2</servlet-name>
     <url-pattern>/SelectCon2</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping>
     <servlet-name>JoinCon</servlet-name>
     <url-pattern>/JoinCon</url-pattern>
  </servlet-mapping> -->

</web-app>