@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
.navbar-brand, h1, h2,h3,h4 {
	font-family : 'Jeju Gothic';
}
h5 {
	font-family : 'Jeju Gothic';
	font-size:18px;
}
body {
	font-family : 'Jeju Gothic' ;
}